<p>
	{%  if piece.get_spec_source.is_hourglass %}
	The instructions in the main body
	of this pattern are for a bottom-up, pieced sweater with vertical
	darts for all shaping.
	{%  else %}
	The instructions in the main body
	of this pattern are for a bottom-up, pieced sweater.
	{%  endif %}
	{%  if piece.bust_dart_params  %}
		Instructions for working the sweater 
		seamlessly, as well as adding horizontal bust darts, are given at
		the end of the pattern. 
	{%  else  %}
		Instructions for working the sweater seamlessly are given at
		the end of the pattern. 
	{%  endif  %}
	A few notes:
<ul>
	<li>
		<strong>Edge Gauge:</strong> Some knitters find that their gauge 
		is different in Ribbing, Seed Stitch, Garter, and other 
		edge stitches than it is in Stockinette and other main pattern stitches.
		If your gauge changes between your edge stitch pattern and your main body stitch 
		pattern, please use a larger or smaller needle to cast on and work your 
		edge stitch. Switch to the needles you used to create your swatch when 
		you switch to the sweater's main pattern stitch. 
	</li>
	<li>
		<strong>Shaping:</strong> Unless otherwise specified, 
		decreases should be worked to match the slant of the 
		edge being shaped, as follows: For left-slanting edges: 
		On knit rows, k1, ssk, work to end; on purl rows, p1, ssp, 
		work to end. For right-slanting edges: On knit rows, work to 
		last 3 sts, k2tog, k1; on purl rows, work to last 3 sts, p2tog, 
		p1. Increases should also be worked to match the slant of 
		the edge being shaped: For right-slanting edges: Work 1 st, 
		m1R, work to end. For left-slanting edges: Work to last st, 
		m1L, work 1 st.
	</li>
	<li>
		<strong>Blocking:</strong> Always block all pieces of your sweater before sewing up. 
		The recommended way to block is by washing and drying the pieces 
		as you will wash and dry the final sweater. 

		Blocking the pieces before you seam will ensure that the fabric is settled 
		into it's finished shape and size which will make the seams easier to sew 
		and help keep the seams straight over the life of the sweater. 
		
		This is the same reason we recommend blocking before weaving in ends.  
		The fabric can change during blocking, and pull out the ends or the 
		already woven ends could visibility pull on the fabric. 
		(Bonus, the seams are a great place to hide ends!)

	</li>
	<li>
		<strong>Row counts:</strong> Since patterns are generated based 
		on final (washed) gauge, we have provided <em>both measurements 
		and row counts</em> in your pattern to account for any gauge 
		change in blocking. Counts are given both from the beginning 
		and from the last &quot;section&quot; of the pattern. Counts include the 
		first row of the piece, and the first row of the section.
	</li>
	{% if piece.has_button_holes %}
		<li>
			<strong>Buttonholes:</strong> Instructions are given for eyelet
			buttonholes. If you prefer a different style of buttonhole, 
			please substitute.
		</li>
	{% endif %}
</ul>	
</p>





