{% load static %}
{% load pattern_conventions %}

{% comment %}
  This template is for rendering schematic images for the web only. The template for PDF rendering is
  schematic_measurements_print.html.

  This template is shared by the pattern renderers and
  design_wizard/views.py#SummaryAndApproveView, so that we can simplify our users' lives
  by presenting schematic information consistently.
{% endcomment %}

<!-- begin back dimensions -->
<div class="row">
<div class="col-xs-12 col-sm-6 col-md-6">
  {% if back_schematic_image %}
    <img src="{% static back_schematic_image %}" class="schematic-image">
  {% else %}
    <small><i>no back schematic image available</i></small>
  {% endif %}
</div>
<div class="col-xs-12 col-sm-6 col-md-6 text-right text-centered-phone faux-table-hover margin-top-15">
  <div class="row">
    <div class="col-md-12 col-lg-10">
      <strong>back finished dimensions</strong>
    </div>
  </div>

  {% for dimension in back_dimensions %}
    {% if dimension.1 %}
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-lg-5">
          {{ dimension.0 }}
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-5">
          {{ dimension.1 | length_fmt }}
        </div>
      </div>
    {% endif %}
  {% endfor %}

</div>
</div>
<!-- end back dimensions -->

<br />

<!-- begin front dimensions -->
<div class="row">
<div class="col-xs-12 col-sm-6">
  {% if front_schematic_image %}
    <img src="{% static front_schematic_image %}" class="schematic-image">
  {% else %}
    <small><i>no front schematic image available</i></small>
  {% endif %}
</div>
<div class="col-xs-12 col-sm-6 text-bottom text-centered-phone faux-table-hover margin-top-15">
  <div class="row">
    <div class="col-md-12 col-lg-10">
      <strong>front finished dimensions</strong>
    </div>
  </div>

  {% for dimension in front_dimensions %}
    {% if dimension.1 %}
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-lg-5">
          {{ dimension.0 }}
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-5">
          {{ dimension.1 | length_fmt }}
        </div>
      </div>
    {% endif %}
  {% endfor %}

</div>
</div>
<!-- end front dimensions -->

{% if sleeve_dimensions %}
<br />

<!-- begin sleeve dimensions -->
<div class="row">
  <div class="col-xs-12 col-sm-6">
    {% if sleeve_schematic_image %}
      <img src="{% static sleeve_schematic_image %}" class="schematic-image">
    {% else %}
      <small><i>no sleeve schematic image available</i></small>
    {% endif %}
  </div>
  <div class="col-xs-12 col-sm-6 text-right text-centered-phone faux-table-hover margin-top-15">
    <div class="row">
      <div class="col-md-12 col-lg-10">
        <strong>sleeve finished dimensions</strong>
      </div>
    </div>

    {% for dimension in sleeve_dimensions %}
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-lg-5">
          {{ dimension.0 }}
        </div>
        <div class="col-xs-6 col-sm-6 col-lg-5">
          {{ dimension.1 | length_fmt }}
        </div>
      </div>
    {% endfor %}

  </div>
</div>
<!-- end sleeve dimensions -->

{% endif %}
