{% load static %}
{% load pattern_conventions %}

{% comment %}
  This template is for rendering schematic images for PDFs only. The template for web rendering is
  schematic_measurements_web.html. CSS classes are found in
  patterns/templates/patterns/individualpattern_pdf.html
{% endcomment %}

<div class="div-schematic-piece-pair">
    <div class="div-schematic-image">
          {% if back_schematic_image %}
            <img src="{% static back_schematic_image %}" class="schematic-image" id="id-schematic-image-back">
          {% else %}
            <small><i>no back schematic image available</i></small>
          {% endif %}
    </div>
    <div class="div-schematic-measurements">
        <!-- begin back dimensions -->
        <strong>back finished dimensions</strong>
        <ul>
        {% for dimension in back_dimensions %}
            {% if dimension.1 %}
                  <li>{{ dimension.0 }}: {{ dimension.1 | length_fmt }}</li>
            {% endif %}
        {% endfor %}
        </ul>
        <!-- end back dimensions -->
    </div>
</div>

<div class="div-schematic-piece-pair">
    <div class="div-schematic-image">
        <!-- begin front image -->
          {% if front_schematic_image %}
            <img src="{% static front_schematic_image %}" class="schematic-image" id="id-schematic-image-front">
          {% else %}
            <small><i>no front schematic image available</i></small>
          {% endif %}
    </div>
    <div class="div-schematic-measurements">
        <!-- begin front dimensions -->
        <strong>front finished dimensions</strong>
        <ul>
        {% for dimension in front_dimensions %}
            {% if dimension.1 %}
                  <li>{{ dimension.0 }}: {{ dimension.1 | length_fmt }}</li>
            {% endif %}
        {% endfor %}
        </ul>
        <!-- end front dimensions -->
    </div>
</div>





{% if sleeve_dimensions %}
    <div class="div-schematic-piece-pair">
        <div class="div-schematic-image">
            <!-- begin sleeve image -->
            {% if sleeve_schematic_image %}
              <img src="{% static sleeve_schematic_image %}" class="schematic-image" id="id-schematic-image-sleeve">
            {% else %}
              <small><i>no sleeve schematic image available</i></small>
            {% endif %}
            <!-- end sleeve image -->
        </div>
        <div class="div-schematic-measurements">
            <!-- begin sleeve dimensions -->
            <strong>sleeve finished dimensions</strong>
            <ul>
            {% for dimension in sleeve_dimensions %}
                {% if dimension.1 %}
                  <li>{{ dimension.0 }}: {{ dimension.1 | length_fmt }}</li>
                {% endif %}
            {% endfor %}
            </ul>
            <!-- end sleeve dimensions -->
        </div>
    </div>
{% endif %}


