{% load pattern_conventions %}
<p>
    <strong><em>Before you begin,</em></strong> please note that some instructions will overlap:
</p>
<ul>
    {% for first_element, second_element, overlap_is_full in overlap_pairs %}
    <li>
    {% if overlap_is_full %}
        {{ first_element.display_name |capfirst }} will overlap {{ second_element.display_name }}.
    {% else %}
        {{ first_element.display_name |capfirst }} will overlap {{ second_element.display_name }} for some sizes.
    {% endif %}
    {%  if first_element.start_rows == first_element.end_rows %}
        {{ first_element.display_name|capfirst }} occurs on row {{ first_element.start_rows | count_fmt }}.
    {% else %}
        {{ first_element.display_name|capfirst }} begins on row {{ first_element.start_rows | count_fmt }} and
        ends on row {{ first_element.end_rows | count_fmt}}.
    {% endif %}
    {% if second_element.start_rows == second_element.end_rows %}
        {{ second_element.display_name }} occurs on row {{ second_element.start_rows | count_fmt}}.
    {% else %}
        {{ second_element.display_name }} begins on row {{ second_element.start_rows | count_fmt}} and
        ends on row {{ second_element.end_rows | count_fmt }}.
    {% endif %}
    </li>
    {% endfor %}
</ul>
<p>
    Please read ahead.
</p>
