{% load pattern_conventions %}
<p>
  <em>Button-band and Neckline Trim:</em>
</p>
<p>
  Beginning at hem of Right Front, pick up and knit around entire
  button-band and neckline edge as follows:
</p>
<p> 
  Stitches should be picked up and knit at the rate of 1 stitch for every 
  bound-off stitch, 3 out of every 4 stitches along the diagonal, and 2 out 
  of every 3 stitches along vertical sections. Place markers while picking
  up stitches as follows:
</p>
<p>
  Pick up approximately {{ button_band.stitches | count_fmt }} stitches along right
  front button band edge, place marker; pick up approximately 
  {{ button_band.neckline_pickup_stitches | count_fmt }} along neck edge, place marker;
  pick up approximately {{ button_band.stitches | count_fmt }} along left front edge.
  Approximately {{ button_band.total_veeneck_cardigan_stitches | count_fmt }} stitches;
  this exact number is not crucial, <strong>but should respect stitch counts 
  for your stitch pattern</strong>. 
</p>
{% if button_band.num_buttonholes != 0 %}
  <p>
    Work even in {{ button_band.edging_stitch_patterntext }} for 
{% if piece_is_graded %}
    {{ button_band.half_height | length_fmt }},
{% else %}
    {{ button_band.half_height | length_fmt }}
    (approximately {{button_band.half_height_in_rows_ws | count_fmt }} rows),
{% endif %}
    ending with a WS row.
  </p>
  {% if button_band.evenly_spaced_buttonholes %}
    <p>
      <em>Buttonhole row (RS):</em> Work 
      {{ button_band.stitches_before_first_buttonhole | count_fmt }} stitches, 
      *k2tog, yo, k {{ button_band.inter_buttonhole_stitches | count_fmt }} sts, 
      rep from * {{ button_band.num_interior_buttonholes | count_fmt }} times, 
      [k2tog, yo] once more, work to first marker, slip first marker, 
      then work to end. 
      {{ button_band.num_buttonholes | count_fmt }} buttonholes spaced evenly across 
      right front. 
    </p>
    <p>
      <strong>Note:</strong> buttonhole instructions should
      be modified if you did not pick up the specified number of stitches
      along the right front button band edge.
    </p>
  {% else %}
    <p>
      On last row, place marker at bottom of each desired button hole.
    </p>
    <p>
      <em>Buttonhole row (RS):</em> *Work to buttonhole marker, *k2tog, yo.
      Rep from * for each marker, work to end of buttonhole.
    </p>
  {% endif %}
{% endif %}  
<p>
  Work as established in {{ button_band.edging_stitch_patterntext }} until trim measures 
{% if piece_is_graded %}
  {{ button_band.height | length_fmt }}.
{% else %}
  {{ button_band.height | length_fmt }} (approximately
  {{ button_band.height_in_rows | count_fmt }} rows).
{% endif %}
    BO all stitches.
</p>
