{% load pattern_conventions %}


<p>
    CO {{ piece.cast_on_stitches | count_fmt }} sts. Place marker and join for working in the
    round, being careful not to twist.
</p>
<p>
    Work in {{ piece.edging_stitch_name }} until cowl measures
    {% if piece_is_graded %}
    {{ piece.actual_edging_height | length_fmt }} from CO edge.
{% else %}
    {{ piece.actual_edging_height | length_fmt }}
    from CO edge ({{ piece.edging_height_in_rows | count_fmt}} rounds total).
{% endif %}
</p>
{{ stitch_transition_text }}