{% load pattern_conventions %}
  
  <p>
    CO {{ piece.cast_ons | count_fmt }} stitches using long tail cast-on
    or other 
    cast-on method of your choice. Work even in 
    {{ piece.hem_stitch_patterntext }} for
      {%  if piece_is_graded %}
    {{ piece.waist_hem_height | length_fmt }},
      {% else %}
    {{ piece.waist_hem_height | length_fmt }}
    ({{ piece.waist_hem_height_in_rows | count_fmt }} rows from beginning),
      {% endif %}
    ending with a WS row.
  </p>
  {{ stitch_transition_text }}
