{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}New password{% endblock %}

{% block content %}
  <section>
    <h2>Reset password</h2>

    {% if validlink %}
      <p>Please enter your new password twice.</p>

      <form action="" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" class="btn btn-primary" value="Change my password" />
      </form>
    {% else %}
      <h2>Password reset unsuccessful</h2>
      <p>The password reset link was invalid.  You can <a href="{% url 'auth_password_reset' %}">request a new one</a>.</p>
    {% endif %}    
  </section>
{% endblock %}