{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset password{% endblock %}

{% block content %}
  {% comment %}
    Probably unused due to inclusion of password form in manage-account page;
    therefore not audited carefully for style.
  {% endcomment %}

  <h2>Reset Password</h2>

  <p>
    Forgot your password? Reset it here.  We'll send you a link to set up a new one.      
  </p>
  
  <form method="post" action=".">
    {% csrf_token %}
    {{ form | crispy }}
    <input type="submit" class="btn-customfit-action" value="Reset password" />
  </form>

{% endblock %}