{% load pattern_conventions %}

{% include neckline_start %}
<p>
  <strong>
    Shape neck:
  </strong>
</p>
{% if extra_bindoffs %}
    <p>
    <em>Next row (RS):</em> Work to center stitch, BO {{ piece.extra_bindoffs | count_fmt }}, work to end.
  </p>

  <p>
    You will now work right shoulder only; place stitches for 
    left shoulder on a holder if desired.
  </p>
{% else %}
  <p>
    <em>Next row (RS)</em>: Work to the center of your stitches, place 
    these stitches on a holder for left shoulder, work to end. You will now 
    work on right shoulder stitches only.
  </p>

{% endif %}
