{% load pattern_conventions %}


<p>
	Continue until piece measures {{ piece.begin_decreases_height | length_fmt }},
    {% if piece_is_graded %}
		ending with a WS row.
    {% else %}
        {% if piece.begin_increases_height_in_rows.displayable %}
            ending with a WS row:
            {{ piece.begin_increases_height_in_rows | count_fmt}} rows from beginning.
        {% else %}
            ending with a WS row.
        {% endif %}
    {% endif %}
</p>
<p>
    <strong>Shape body:</strong>
</p>


{% if is_left_side %}
    <p>
        <em>Increase row (RS)</em>: Knit 1, m1, work to end. One stitch increased.
    </p>
    {% if any_ws_shaping_rows %}
     <p>
        <em>Increase row (WS)</em>: Work to last stitch, m1p, purl 1. One stitch increased.
     </p>
    {% endif %}
{% elif is_right_side %}
    <p>
        <em>Increase row (RS)</em>: Work to last stitch, m1, k 1. One stitch increased.
    </p>
    {% if any_ws_shaping_rows %}
     <p>
        <em>Increase row (WS)</em>: Purl 1, m1p, work to end. One stitch increased.
     </p>
    {% endif %}
{% else %}
    <p>
        <em>Increase row (RS)</em>: Knit 1, m1, work to last stitch, m1,
        knit 1. Two stitches increased.
    </p>
    {% if any_ws_shaping_rows %}
     <p>
        <em>Increase row (WS)</em>: Purl 1, m1p, work to last stitch, m1p, purl 1. Two stitches increased.
     </p>
    {% endif %}
{% endif %}


<p>
    {%  if piece.bust_stitches.displayable %}
        Work Increase row every
        {{ piece.rows_between_bust_standard_increase_rows_plus_one | count_fmt }} rows
        {{ piece.num_bust_standard_increase_rows | count_fmt }} times total:
        {{ piece.bust_stitches | count_fmt }} stitches for bust.
    {%  else %}
        Work Increase row every
        {{ piece.rows_between_bust_standard_increase_rows_plus_one | count_fmt }} rows
        {{ piece.num_bust_standard_increase_rows | count_fmt }} times total.
    {%  endif %}
</p>

