{% load pattern_conventions %}

{% if piece.waist_triple_darts %}

  {% if piece.bust_triple_darts %}
    
    {# do nothing #}

  {% elif piece.bust_double_darts %}
  
  <p>
    On last row, remove shaping marker of color C.
  </p>
  
  {% elif piece.has_bust_increases %}

  <p>
    On last row, remove shaping markers of colors B and C.
  </p>
    
  {% else %} {# No bust markers #}
  
  <p>
    On last row, remove all shaping markers.
  </p>
    
  {% endif %}
  
{% elif piece.waist_double_darts  %}

  {% if piece.bust_triple_darts %}
    
    {% if is_left_side %}
      <p>
        On last row, place new marker (color C) as follows:
        work {{ piece.bust_inter_triple_dart_markers | count_fmt }} stitches, pm, 
        work remaining {{ piece.bust_pre_triple_dart_marker | count_fmt }} stitches.
        <em>(Note: keep color A and B markers from waist shaping.)</em>    
      </p>
    {% else %}
      <p>    
        On last row, place new marker (color C) as follows:
        work {{piece.bust_pre_triple_dart_marker | count_fmt }} stitches, pm, 
        work remaining {{ piece.bust_inter_triple_dart_markers | count_fmt }} stitches.
        <em>(Note: keep color A and B markers from waist shaping.)</em>    
      </p>
    {% endif %}

  {% elif piece.bust_double_darts %}
  
    {# do nothing #}
  
  {% elif piece.has_bust_increases %}

  <p>
    On last row, remove shaping marker of color B.
  </p>
    
  {% else %} {# No bust markers #}
  
  <p>
    On last row, remove all shaping markers.
  </p>
    
  {% endif %}

{% elif piece.has_waist_decreases %}
  {# Since double- and triple-darts are caught above, waist must only have standard decreases and hence color A markers. #}

  {% if piece.bust_triple_darts %}
    
    {% if is_left_side %}
      <p>
        On last row, place new markers (colors B and C) as follows:
        work {{ piece.bust_inter_double_dart_markers | count_fmt }} stitches, 
        pm (color B),
        work {{ piece.bust_inter_double_and_triple_dart_markers | count_fmt }} stitches, 
        pm (color C),
        work remaining {{ piece.bust_pre_triple_dart_marker | count_fmt }} stitches.
        <em>(Note: keep color A markers from waist shaping.)</em>    
      </p>
    {% else %}
      <p>
        On last row, place new markers (colors B and C) as follows:
        work {{ piece.bust_pre_triple_dart_marker | count_fmt }} stitches, 
        pm (color C),
        work {{ piece.bust_inter_double_and_triple_dart_markers | count_fmt }} stitches, 
        pm (color B),
        work remaining {{ piece.bust_inter_double_dart_markers | count_fmt }} stitches.
        <em>(Note: keep color A markers from waist shaping.)</em>    
      </p>
    {% endif %}

  {% elif piece.bust_double_darts %}
  
    {% if is_left_side %}
      <p>
        On last row, place new marker (color B) as follows:
        work {{ piece.bust_inter_double_dart_markers | count_fmt }} stitches, 
        pm (color B),
        work remaining {{ piece.bust_pre_double_dart_marker | count_fmt }} stitches. 
        <em>(Note: keep color A markers from waist shaping.)</em>    
      </p>
    {% else %}
      <p>
        On last row, place new marker (color B) as follows:
        work {{piece.bust_pre_double_dart_marker | count_fmt }} stitches, 
        pm (color B),
        work remaining {{ piece.bust_inter_double_dart_markers | count_fmt }} stitches. 
        <em>(Note: keep color A markers from waist shaping.)</em>    
      </p>
    {% endif %}
  
  {% elif piece.has_bust_increases %}

    {# do nothing #}
    
  {% else %} {# No bust markers #}
  
  <p>
    On last row, remove all shaping markers.
  </p>
    
  {% endif %}

{% else %} {# no waist markers #}
  
  {% if piece.bust_triple_darts %}
    
    {% if is_left_side %}
      <p>
        On last row, place markers (colors A, B and C) as follows:
        work {{ piece.bust_inter_standard_dart_markers | count_fmt }} stitches, pm of color A, 
        work {{ piece.bust_inter_double_and_standard_dart_markers | count_fmt }} stitches, pm of color B, 
        work {{ piece.bust_inter_double_and_triple_dart_markers | count_fmt }} stitches, pm of color C, 
        work {{ piece.bust_pre_triple_dart_marker | count_fmt }} stitches to end. Three markers
        of three colors placed for bust shaping. 
      </p>
    {% else %}
      <p>
        On last row, place markers (colors A, B and C) as follows:
        work {{ piece.bust_pre_triple_dart_marker | count_fmt }} stitches, pm of color C, 
        work {{ piece.bust_inter_double_and_triple_dart_markers | count_fmt }} stitches, pm of color B, 
        work {{ piece.bust_inter_double_and_standard_dart_markers | count_fmt }} stitches, pm of color A, 
        work {{ piece.bust_inter_standard_dart_markers | count_fmt }} stitches to end. Three markers
        of three colors placed for bust shaping. 
      </p>
    {% endif %}


  {% elif piece.bust_double_darts %}
  
    {% if is_left_side %}
      <p>
        On last row, place markers (colors A and B) as follows:
        work {{ piece.bust_inter_standard_dart_markers | count_fmt }} stitches, pm of color A, 
        work {{ piece.bust_inter_double_and_standard_dart_markers | count_fmt }} stitches, pm of color B, 
        work {{ piece.bust_pre_double_dart_marker | count_fmt }} stitches to end. Two markers
        of two colors placed for bust shaping. 
      </p>
    {% else %}
        <p>
        On last row, place markers (colors A and B) as follows:
        work {{ piece.bust_pre_double_dart_marker | count_fmt }} stitches, pm of color B, 
        work {{ piece.bust_inter_double_and_standard_dart_markers | count_fmt }} stitches, pm of color A, 
        work {{ piece.bust_inter_standard_dart_markers | count_fmt }} stitches to end. Two markers
        of two colors placed for bust shaping. 
      </p>
    {% endif %}
  
  {% elif piece.has_bust_increases %}

    {% if is_left_side %}
      <p>
        On last row, place marker as follows:
        work {{ piece.bust_inter_standard_dart_markers | count_fmt }} stitches, 
        pm,
        work remaining 
        {{ piece.bust_pre_standard_dart_marker | count_fmt }} stitches.
      </p>
    {% else %}
      <p>
        On last row, place marker as follows:
        work {{ piece.bust_pre_standard_dart_marker | count_fmt }} stitches, 
        pm,
        work remaining 
        {{ piece.bust_inter_standard_dart_markers | count_fmt }} stitches.
      </p>
    {% endif %}
    
  {% else %} {# No bust markers #}
  
    {# do nothing #}
    
  {% endif %}

{% endif %}
