{% extends "base.html" %}
{% load thumbnail %}
{% load md2 %}

{% block title %}CustomFit stitch list{% endblock %}

{% block content %}
    <h2>CustomFit stitch list</h2>

    <div class="row">
    	{% for stitch, visible_designs in stitches_with_designs %}
        {% if stitch.notes or stitch.photo %} {# only display stitches with content #}
          <!-- begin stitch info card -->
          <div class="col-xs-12">
            <div class="thumbnail">
              <div class="row">
                {% if stitch.photo %} {# use layout accommodating photos and text #}
                  
                  <div class="col-md-8 col-xs-12">
                    {% include 'stitches/stitch_list_text_section.html' %}
                  </div>

                  <div class="col-md-4 col-xs-12">
                    <img src="{{ stitch.photo | thumbnail_url:'col-md-4' }}" class="thumbnail" alt="{{ stitch.name }} fabric">
                  </div>

                {% else %} {# if no photo, use layout accommodating just text #}

                  <div class="col-xs-12">
                    {% include 'stitches/stitch_list_text_section.html' %}
                  </div>

                {% endif %}
              </div>
            </div>
          </div>
          <!-- end stitch info card -->
        {% endif %}
    	{% endfor %}
    </div>

{% endblock %}