{# Provides the action buttons in the pattern list view. #}
{% load thumbnail %}

<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
  <div class="customfit-action-tile-rectangle extra-margins">
    <a href="{% url 'patterns:individualpattern_detail_view' object.id %}">
      <img src="{% if object.preferred_picture_file %}
                    {{ object.preferred_picture_file | thumbnail_url:'col-md-3' }}
                {% else %}
                    {{ object.preferred_picture_url }}
                {% endif %}" alt="picture for {{ object.name }}" class="choose-design-hero">
    </a>
    <h4>
      <a href="{% url 'patterns:individualpattern_detail_view' object.id %}">
        {{ object.name }}
      </a>
    </h4>
    <a href="{% url 'patterns:individualpattern_detail_view' object.id %}" class="btn-customfit btn-block">
      view detail
    </a>
    <a href="{% url 'patterns:individualpattern_shortpdf_view' object.id %}" class="btn-customfit-outline btn-block">
      Get PDF
    </a>
    {% if object.archived %}
      <a href="{% url 'patterns:individualpattern_unarchive_action' object.id %}" class="btn-customfit-outline btn-block">
        Unarchive
      </a>
    {% else %}
      <a href="{% url 'patterns:individualpattern_archive_action' object.id %}" class="btn-customfit-outline btn-block">
        Archive
      </a>
    {% endif %}
    {%  if object.redo_possible %}
      <a href="{% url 'design_wizard:redo_start' object.id %}" class="btn-customfit-outline btn-block">
        Redo pattern <br/>
          {% if object.redo_days_left == 0 %}
              <i>(last day!)</i>
          {% else %}
              <i>({{ object.redo_days_left }} day{{ object.redo_days_left | pluralize }} left)</i>
           {% endif %}
       </a>
    {% endif %}
  </div>
</div>
