{% load pattern_conventions %}

{% if num_bust_standard_increase_repetitions %}
  <p>
    Repeat the following four rows (Increase Rows One and Two)
    {{ piece.num_bust_standard_increase_rows | count_fmt }} 
    times:
  </p>
{% endif %}

<p>
    <em>Increase Row One (RS)</em>: 
    {{ increase_text_triple_dart_standard_dart }}
    {{ stitches_per_single_dart | capfirst }} increased.
    Work one row even.
</p>
<p>      
    <em>Increase Row Two (RS)</em>: 
    {{ increase_text_triple_dart_double_dart }}
    {{ stitches_per_double_dart | capfirst }} increased.
  Work one row even.        
</p>
<p>
  Then work the following two rows once.
</p>
<p>
  <em>Increase Row Three (RS)</em>: 
    {{ increase_text_triple_dart_triple_dart }}
    {{ stitches_per_triple_dart | capfirst }} increased.
    Work 1 row even.
</p>
{% if num_bust_triple_dart_repetitions %}
  <p>
    Then, repeat Increase Rows Two and Three every RS row
    {{ piece.num_bust_triple_dart_repetitions | count_fmt }} 
    additional time{{ piece.num_bust_triple_dart_repetitions | pluralize_counts }}.
  </p>
{% endif %} {# triple-dart repetitons #}
<p>
  {{ piece.num_bust_increase_rows_knitter_instructions | count_fmt }} total 
  increase rows worked since waist. 
</p>
