{% load static %}

<script type="text/javascript">
    customfit.COMPILATION = '#wizard-sidebar-image';

    customfit.setupWizardDependencies();
    customfit.setupWizardOverlay({
        // Neck
        'V_PULLOVER_NECK': '{% static "img/overlay/neckline_style/v-pullover-neck-build.png" %}',
        'V_CARDI_NECK': '{% static "img/overlay/neckline_style/v-cardi-neck-build.png" %}',
        'CREW_NECK_PULLOVER': '{% static "img/overlay/neckline_style/crew-neck-pullover-build.png" %}',
        'CREW_NECK_CARDI': '{% static "img/overlay/neckline_style/crew-neck-cardi.png" %}',
        'SCOOP_NECK_PULLOVER': '{% static "img/overlay/neckline_style/scoop-neck-pullover-build.png" %}',
        'SCOOP_NECK_CARDI': '{% static "img/overlay/neckline_style/scoop-neck-cardi-build.png" %}',
        'BOAT_NECK_PULLOVER': '{% static "img/overlay/neckline_style/boat-neck-pullover-build.png" %}',
        'BOAT_NECK_CARDI': '{% static "img/overlay/neckline_style/boat-neck-cardi-build.png" %}',
        'TANK_NECK_PULLOVER': '{% static "img/overlay/neckline_style/tank-neck-pullover-build.png" %}',

        // Sleeves
        'SHORT_SLEEVES': '{% static "img/overlay/sleeve_length/short-sleeves-build.png" %}',
        'ELBOW_SLEEVES': '{% static "img/overlay/sleeve_length/elbow-sleeves-build.png" %}',
        '3_4_SLEEVES': '{% static "img/overlay/sleeve_length/3-4-sleeves-build.png" %}',
        'LONG_SLEEVES': '{% static "img/overlay/sleeve_length/long-sleeves-build.png" %}',
        'VEST_PULLOVER_CARDI': '{% static "img/overlay/sleeve_length/vest-pullover-cardi-build.png" %}',

        // Length
        'HIGH_HIP_PULLOVER': '{% static "img/overlay/torso_length/high-hip-pullover-build.png" %}',
        'HIGH_HIP_CARDI': '{% static "img/overlay/torso_length/high-hip-cardi-build.png" %}',
        'MID_HIP_PULLOVER': '{% static "img/overlay/torso_length/mid-hip-pullover-build.png" %}',
        'MID_HIP_CARDI': '{% static "img/overlay/torso_length/mid-hip-cardi-build.png" %}',
        'LOW_HIP_PULLOVER': '{% static "img/overlay/torso_length/low-hip-pullover-build.png" %}',
        'LOW_HIP_CARDI': '{% static "img/overlay/torso_length/low-hip-cardi-build.png" %}',
        'TUNIC_PULLOVER': '{% static "img/overlay/torso_length/tunic-pullover-build.png" %}',
        'TUNIC_CARDI': '{% static "img/overlay/torso_length/tunic-cardi-build.png" %}'
    });
</script>