<style media="screen" type="text/css">
      .fb_iframe_widget
        {
            vertical-align: top !important;
        }
</style>


{# Facebook script #}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


{# twitter script #}
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

{# facebook button #}
    <div class="fb-share-button"
         data-href="{{ url_to_share }}"
         data-layout="button_count"
         data-mobile-iframe="false">
        <a class="fb-xfbml-parse-ignore"
           target="_blank"
           href="https://www.facebook.com/sharer/sharer.php?u={{ url_to_share|urlencode:"" }}&amp;src=sdkpreparse">
            Share
        </a>
    </div>

{%  if tweet_text %}
        <a class="twitter-share-button"
           href="https://twitter.com/intent/tweet?text={{ tweet_text|urlencode:"" }}&amp;url={{ url_to_share|urlencode:"" }}"
            data-size="large">
            Tweet
        </a>
{% else %}
        <a class="twitter-share-button"
           href="https://twitter.com/intent/tweet?url={{ url_to_share|urlencode:"" }}"
            data-size="large">
            Tweet
        </a>
{%  endif %}

